.cmp-file-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--12-pad, 12px);
  align-self: stretch;
}

.cmp-file-list-container > p {
  color: #081621;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.cmp-file-list-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.cmp-file-list-container > div > div {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border: 1px solid var(--New-Outline, #ebedf8);
  padding: 4px;
  border-radius: 6px;
}

.cmp-file-list-container > div > div > div:first-child {
  width: 46px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cmp-file-list-container > div > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 66px);
}

.cmp-file-list-container > div > div > div:nth-child(2) > p {
  color: var(--Dark-grey, #70757a);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
