.header{
    height: 8vh;
}

.navbar-brand{
    font-size: 1.5rem;
}

.acc{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(131, 131, 131);
}

.acc:hover{
    color : white;
}

.auth-modal-content {
	text-align: center;
	padding:30px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    
}

.auth-modal-wrp{
    padding:30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
	overflow: hidden;
}

.modal-col{
    border-right: 0.5px solid black;
    padding: 70px;
    
}

.auth-modal-content h2 {
	font-size: 22px;
	font-weight: 600;
}

.auth-modal-content input {
	height: 45px;
	background: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.auth-modal-content input:focus {
	border: 1px solid #E3E3E3;
	background: #F5F5F5;
}

.auth-input-wrp {
	text-align: left;
	padding-top: 25px;
}

.btn.auth-main-btn {
	background: #000;
	border: 1px solid #000;
	width: 100%;
	color: #fff;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 5px;
}

.signup-col{
    height: 100%;
	justify-content: center;
	align-items: center;
    margin-top: 70px;
    padding:30px
}

.btns{
    width: 100%;
}

.close-btn{
    height: 3vh;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1.2rem;
}

.back-btn{
    height: 3vh;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1.2rem;
}

@media screen and (max-width : 898px) {
    .navbar-brand{
        font-size : 1.2rem;
    }

    .acc{
        font-size: 1.2rem;
    }

    .auth-modal-wrp{
        padding: 0;
    }

    .auth-modal-content{
        padding: 30px;
    }

    .modal-col{
        border-right: none;
        border-bottom: 0.5px solid black;
        padding: 0;
    }
  }

