.cmp-ff-container {
  display: flex;
  gap: 8px;
}

.cmp-ff-container > div:first-child {
  display: inline-flex;
  padding: 6px var(--8-pad, 8px);
  align-items: center;
  gap: var(--8-pad, 8px);
  width: 160px;
}

.cmp-ff-container > div:first-child > p {
  color: var(--Dark-grey, #70757a);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.cmp-ff-container > div:first-child > p:nth-child(2) {
  color: #e13d19 !important;
}

.cmp-ff-container > div:nth-child(2) {
  display: flex;
  /* width: 456px; */
  padding: 6px var(--8-pad, 8px);
  align-items: center;
  gap: var(--12-pad, 12px);
  width: 560px;
}

.cmp-ff-container > div:nth-child(2) > input,
.cmp-ff-container > div:nth-child(2) > p {
  color: var(--Dark-grey, #70757a);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  outline: none;
  border: none;
  width: 100%;
}

.cmp-select-template-btn {
  display: inline-flex;
  padding: var(--8-pad, 8px) 16px;
  justify-content: center;
  align-items: center;
  gap: var(--8-pad, 8px);
  border-radius: 5px;
  border: 1px solid var(--Mob-Primary-colour, #8361fe);
  background: white;
  /* Dashboard Menu selection shadow */
  box-shadow: 0px 4px 8px 0px rgba(88, 82, 246, 0.25);
  color: var(--Mob-Primary-colour, #8361fe);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.cmp-ff-selected-template-container {
  border: 1px solid red;
  width: 100%;
}

.cmp-ff-selected-template-container > img {
  width: 36px;
}
