.main-container {
  position: relative;
  font-weight: 600;
  color: #58636e;
  user-select: none;
}
.dropdown-container {
  width: fit-content;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.dropdown-container > .value-field {
  width: 100%;
  text-align: center;
  padding: 4px 12px;
}
.icon {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}

.options-container {
  position: absolute;
  width: fit-content;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 6px 16px;
  border-radius: 12px;
  margin-top: 12px;
}
.optionsContainerMain {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.option {
  white-space: nowrap;
  padding: 6px 16px;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
}
.checkLabel {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-weight: 400;
  padding: 8px 0px 4px 0px;
  cursor: pointer;
}
.option:hover {
  background-color: #f4f5f5;
}
.error-msg {
  font-size: 10px;
  padding-left: 0.75rem;
  color: red;
}
.search {
  border-bottom: 1px solid #58636e;
  display: flex;
  justify-content: space-between;
  margin: 0rem 0.75rem;
  white-space: nowrap;
  padding: 6px 16px;
  width: 100%;
}
.search-inp {
  border: none;
  outline: none;
}
.search-icon {
  height: 18px;
  width: 18px;
}
.checkBelow {
  padding: 6px 16px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.done,
.clear {
  border: none;
  outline: none;
  background-color: #8361fe;
  border-radius: 5px;
  padding: 8px 20px;
  color: white;
}
.clear {
  background-color: white;
  border: 1px solid #58636e;
  color: #58636e;
}
