.table-cell {
  height: 60px;
  padding: 12px 32px;
  background-color: #fff;
  color: var(--Black-text, #3d424f);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-left: 8px;
  text-align: left;
  vertical-align: middle;
}

.table-cell2 {
  height: 60px;
  padding: 12px 32px;
  background-color: #f9fafc;
  color: var(--Black-text, #3d424f);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-left: 8px;
  text-align: left;
  vertical-align: middle;
}

.border {
  border-top: 1px solid var(--New-Outline, #ebedf8);
}

.table-container {
  padding: 0px 12px 12px 12px;
  background: #fff;
}

.table-container2 {
  padding: 0px 12px 12px 12px;
  background: #f9fafc;
}

.table-wrapper {
  border-radius: var(--12-pad, 12px) var(--12-pad, 12px);
  background: #fff;
  overflow: hidden;
  border: 1px solid var(--New-Outline, #ebedf8);
}

.inner-table {
  border-radius: var(--12-pad, 12px) var(--12-pad, 12px);
}

.table-heading {
  color: var(--Dark-grey, #70757a);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  padding-left: 22px;
}
