.tf-tab-wrapper {
  display: flex;
  padding: 4px 0px;
  align-items: center;
  gap: var(--8-pad, 8px);
  border-bottom: 1px solid var(--mob-primary-colour, #8361fe);
  cursor: pointer;
}

.tf-tab-label {
  color: var(--Dark-grey, #70757a);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
