/* styles.module.css */

.table {
    width: 100%;
    overflow-x: hidden;
    z-index: 0;
  }
  
  .tableHeader {
    height: 34px;
    background: #f7f7f9;
    text-align: center;
    border-bottom: 0px;
  }
  
  .tableHeading {
    width: 220px;
    padding: 6px var(--8-pad, 8px);
    align-items: center;
    gap: var(--8-pad, 8px);
    flex-shrink: 0;
  }
  
  .headingContent {
    color: var(--New-grey, #728492);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  
  .tableBody {
    background: #ffffff;
  }
  
  .tableRow {
    width: 100%;
    background: #ffffff;
    vertical-align: top;
  }
  
  
  .filterButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    width: 115px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #ebe9f1;
    border-radius: 6px;
    margin-right: 12px;
  }
  .tabletext{
    padding:12px;
  }
  /* Add other styles as needed */
  