.tf-modal-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    background: rgba(121, 137, 151, 0.12);
    overflow-y: hidden;
}

.tf-conversion-modal {
    display: flex;
    width: 537px;
    padding: var(--12-pad, 12px) 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: var(--12-pad, 12px);
    background: #FFF;

    /* New Card shadow */
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.conversion-modal-header {
    /* background: #FFF5F5;
    width: 48px;
    height: 48px;
    border-radius: 24px; */
    /* text-align: right; */
    padding-top: 8px;
    margin-left: auto;
}

.conversion-modal-body {
    text-align: left;
}

.conversion-modal-body-header {
    color: #0A0A0A;

    /* Heading 2 18pt */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.conversion-modal-body-text {
    color: var(--New-grey, #728492);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.tf-conversion-modal-footer {
    width: 473px;
}

.tf-modal-conversion-button-cancel {
    border: 1px solid var(--Checkbox-colour, #BEBEC0) !important;
    box-shadow: none !important;
    background: none;
    width: 226px !important;
    text-align: center !important;
    color: var(--Dark-grey, #70757A) !important;
    padding-left: 72px !important;
}

.tf-modal-conversion-button {
    background: #FF5252 !important;
    box-shadow: none !important;
    width: 226px !important;
    padding-left: 72px !important;
}