.main-page {
    margin-top: 7vh;
}

.tab-btn {
    color: #212529;
}

.tab-btn:hover {
    color: #212529 !important;
}

.active-tab {
    background-color: #212529 !important;
    color: white !important;
}

.active-tab:hover {
    color: white !important
}

.cal-form{
    min-width: 50%;
    background-color: #212529;
    padding: 4vw;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

/***************LINK 1********************/
.form-row {
    margin-top: 4vh;
}

.form-label {
    color: white;
}

.calculator-input {
    background-color: #212529 !important;
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 0 !important;
    padding: 5px 10px;
    outline: none;
    color: white !important;
}

.calculator-input:focus,
.calculator-input:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
}

.btn-form {
    background-color: #212529;
    border-color: white;
    color: white;
    font-size: 20px !important;
    margin-top: 2vh;
    padding: 2vh;
    margin-right: 4vw;
}

.btn-form:focus,
.btn-form:hover {
    color: #212529 !important;
    background-color: white;

}

.invisible {
    visibility: hidden !important;
    display: none !important;
}




.limit {
    position: -webkit-sticky;
    position: sticky;
    bottom: 5vh;
    text-align: center;
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tables{
    margin-top: 10vh
}

.table{
    width: 100%;
    table-layout: fixed;
    background-color: #212529;
    color: white;
    text-align: center;
}

.table, .table-row, td, th{
    border: 1px solid white;
}

.table-row{
    min-height: 10vh;
}

.limit-input {

    border: none !important;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
    border-radius: 0 !important;
    padding: 5px 10px;
    outline: none;
}

@media screen and (max-width : 898px) {
    .btn-form{
        font-size: 15px !important;
    }
  }