.tf-select-container {
    height: auto;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: start;
}

.tf-select {
    display: inline-flex;
    height: var(--32-pad, 32px);
    padding: 4px var(--8-pad, 8px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    width: 100%;
    border: 0.6px solid #FFF;
    background: #FFF;
    cursor: pointer;
}

.tf-select:hover{
    background: #F6F7F7;
}

.tf-select:focus{
    filter: drop-shadow(0px 2px 2px rgba(131, 97, 254, 0.12)) drop-shadow(0px -2px 2px rgba(131, 97, 254, 0.12)) drop-shadow(-2px 0px 2px rgba(131, 97, 254, 0.12)) drop-shadow(2px 0px 2px rgba(131, 97, 254, 0.12));
    border: 0.6px solid #7367F0;
}

.tf-selected-option {
    color: var(--Dark-grey, #70757A);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}