@import url("https://cdn.syncfusion.com/ej2/material.css");
.pageHeader{
    color: var(--black-text, #0A0A0A);
    /* Heading 2 18pt */
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-left: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableHeaderText{
    color: var(--black-text, #0A0A0A);
    /* text-align: center; */
    /* Heading 2 18pt */
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* float: left; */
}

.tableHeader{
    display: flex;
    border: 1px solid #EBEDF8;
    background: #F8FAFB;
    height: 54px;
    /* justify-content: center; */
    align-items: center;
    padding-left: 32px;
}
.tableFixHead {
    overflow-y: auto;
    height: 70vh;
    /* height: 10em; */
    /* width:600px; */
  }
  
  .tableFixHead .table {
    border-collapse: separate;
    width: 100%;
  }
  
  .th{
    width: 28vw;
    text-align: center;
    font-weight: normal;
    border: none;
    position: sticky;
    background: white;
    vertical-align: middle;
  }
  .td{
    text-align: center;
    border: none;
    background-color: white;
  }
  
  .normals{
    color: var(--dark-grey, #70757A);
    text-align: center;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .th:first-child{
    position:sticky;
    left:0;
    /* top: 0; */
    z-index:4;
    text-align: left;
    background-color:#FFFFFF;
    padding-left: 32px;
  }
  
  .tr > .td{
    position: sticky;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 0;
  }
  .td:first-child{
    position:sticky;
    left:0;
    z-index:1;
    text-align: left;
    background-color:white;
    padding-left: 32px;
  }
 
  /* td:nth-child(1),th:nth-child(2)  { 
  position:sticky;
    left:0;
    z-index:1;
    background-color:white;
    } */
  .td:first-child{
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index:2;
    border-top: 1px solid #EBEDF8;
    border-bottom: 1px solid #EBEDF8;
    border-left: 1px solid #EBEDF8;
    background: #FFFFFF;
  }
    .specials{
        color: var(--black-text, #0A0A0A);
        text-align: center;
        font-size: 13px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        background-color: white;
    }
    .stages{
        width: 100%;
        height: 38px;
        background-color: linear-gradient(135deg, #F5FAE9 0%, #EDFDEF 100%);
        color: var(--black-text, #0A0A0A);
        font-size: 13px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
    /* .table>tbody>tr>td{
        padding: 8px;
        padding-left: 32px;
        height: 38px;
    } */
    .input{
        border: none;
        box-shadow: none;
        outline: none;
        width: 100%;
        display: inline;
        background: "rgb(0 0 0 / 0%)";
        /* padding: 12px 0px; */
        text-align: center;
      }
      .input:focus{
        border: none;
        /* box-shadow: none; */
        outline: none;
      }
      .form-select {
        background-color: transparent;
        color: var(--black-text, #0A0A0A);
        text-align: center;
        font-size: 13px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }
      .form-select:active {
        border: none;
      }
      .empty{
        width: fit-content;
        position: sticky;
        left: 0;
        /* padding-left: 24px; */
        z-index: 2;
      }
      /* .totals{
        position: absolute;
        z-index: 10;
        bottom: 0;
      } */
      .react-datepicker__input-container>input{
        width: 6vw;
        border: none;
      }
.unsaved-text{
  color: var(--Dark-grey, #70757A);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-left: 24px;
}