
.heading-celebrations{
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #0A0A0A;
}
.clearButton {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #70757A;
    cursor: pointer;
}
.sub-heading{
    margin-bottom: 12px;
    padding-left: 24px;
}
.card-main{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content{
    width: 16vw;
}

.card-main:hover{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    background: rgba(219, 219, 244, 0.65);
}
.card-main:active{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    background: rgba(219, 219, 244, 0.65);;
}
.message {
    
    margin-top: 5px;
    top: 18px;
    width: 23vw !important; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;

}
.time{
  
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #70757A;

}
.today{
    margin-bottom: 24px;
}

.upcoming{
    margin-bottom: 24px;
}
.set-width{
        width: 33vw !important
}