.main{
       position: absolute;
       top:-85px;
       display: flex;
       align-items: center;
       flex-direction: column;
      justify-content: center; 
      background-color: rgba(215, 216, 254);
      width: 100%;
    }

.heading-main{
    color: #6F49FE;
   text-align: center;
   font-family: Margarine;
   font-size: 44px;
   font-style: normal;
   font-weight: 400;
   line-height: 56px;
   margin-bottom: 10px;
}
.para{
    color: #6D5AB3;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
line-height: 25px;
}
 .bday-img{
  width: 350px;
  height: 350px;
  flex-shrink: 0;
 }   
   .cd-img{
    width: 828.02px;
    height: 553.131px;
    flex-shrink: 0;
    margin-left: 100px;
   }
 .foot{
  color: #6F49FE;
text-align: center;
font-family: 'Margarine', 'cursive';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-top: 20px;
 }

 .wishes-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
 }

 .confetti{
  position: relative;
    top: -30px;
  height: 50vw !important;
  width: 100vw !important;
 }

 .crossbtn{
      z-index: 1;
      position: fixed;
      bottom: 32px;
      right: -380px;
      height: 44px;
      width: 44px;
 }