.datechip-wrapper {
    display: flex;
    position: relative;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.datechip {
    display: flex;
    width: max-content;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #F6F7F7;

    color: #3D424F;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.datechip-modal {
    position: absolute;
    z-index: 1000;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    margin-top: 8px;
}

.input-wrapper {
    margin: 12px 12px 0px 12px;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #EBEDF8;
    background: #F6F7F7;
}

.input-wrapper>input {
    outline: none;
    border: none;
    background: none;
    color: #3D424F;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.MuiDateCalendar-root {
    width: 260px !important;
    height: 256px !important; 
    margin: 0px 12px 12px 12px !important;
}

.MuiPickersCalendarHeader-root {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.MuiPickersCalendarHeader-labelContainer {
    padding-left: 8px !important;
    color: #3D424F !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
}

.MuiPickersFadeTransitionGroup-root.MuiDateCalendar-viewTransitionContainer {
    margin-top: 12px;
}

.MuiDayCalendar-header {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.MuiTypography-root.MuiTypography-caption.MuiDayCalendar-weekDayLabel {
    display: flex !important;
    width: 32px !important;
    height: 32px !important;
    padding: 8px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    color: #5D637C !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
}

.MuiDayCalendar-weekContainer {
    justify-content: space-between !important;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    display: flex !important;
    width: 32px !important;
    height: 32px !important;
    padding: 8px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    color: #3D424F !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.Mui-selected {
    border-radius: 32px !important;
    background: #8361FE !important;
    color: white !important;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today {
    border-radius: 32px !important;
    border: 1px solid #8361FE !important;
}