.dropdown-toggle::after {
  display: none;
}

.plus-dropdown>.dropdown-menu.show {
  width: 224px;
  background: #FFFFFF;
  height: 208px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}