.dropdown-toggle::after {
  display: none;
}

.plus-dropdown>.dropdown-menu.show {
  width: 224px;
  background: #FFFFFF;
  height: 230px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading-2 {
  color: #0A0A0A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}