.tf-header-card {
  display: flex;
  width: 260px;
  padding: 16px 20px;
  align-items: center;
  gap: var(--12-pad, 12px);
  border-radius: var(--12-pad, 12px);
  border: 1px solid var(--New-Outline, #ebedf8);
  background: #fff;
}

.tf-header-card-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: var(--8-pad, 8px);
  background: #f7f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tf-header-card-heading {
  color: var(--Black-text, #3d424f);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.103px;
}

.tf-header-card-subheading {
  color: var(--Black-text, #3d424f);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.103px;
}

.tf-header-card-footer {
    display: flex;
width: 260px;
padding: var(--8-pad, 8px) 20px;
align-items: flex-start;
gap: var(--12-pad, 12px);
border-radius: 0px 0px var(--12-pad, 12px) var(--12-pad, 12px);
border-right: 1px solid var(--New-Outline, #EBEDF8);
border-bottom: 1px solid var(--New-Outline, #EBEDF8);
border-left: 1px solid var(--New-Outline, #EBEDF8);
background: #FFF;
}

.tf-header-card-percentage {
  color: #34A853;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.tf-header-card-last-month {
  color: #8B9FAF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}