.container {
  width: 210px;
  height: 168px;
  border-radius: var(--12-pad, 12px);
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  /* height of the container */
  .leaflet-container {
    height: 168px;
    width: 210px;
  }
}
.container-expanded {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* height of the container */
  .leaflet-container {
    height: 100vh;
    width: 100vw;
  }
}
.expand {
  border-radius: 6px;
  border: 1px solid #7367f0;
  background: rgba(115, 103, 240, 0.4);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 1001;
}
.map-container {
  height: 100%;
  width: 100%;
}
.rightBar,
.rightBarClose {
  z-index: 1001;
  position: absolute;
  width: 238px;
  height: 100%;
  background: #fff;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s;
}
.contents {
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.metricsContainer {
  margin-top: 20px;
  /* border: 2px solid red; */
  padding: 0px 20px;
  height: 80%;
  width: 100%;
  color: #3d424f;
  font-size: 14px;
  font-weight: 600;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.metric {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.backToTable {
  display: inline-flex;
  padding: 8px 16px 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #f6f4ff;
  color: #8361fe;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 24px;
}
.rightBarClose {
  right: -238px;
}
.open {
  width: 40px;
  height: 80px;
  border-radius: 6px 0px 0px 6px;
  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: -40px;
}
.backToRegions {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  font-weight: 400;
  cursor: pointer;
}
.backBTN {
  border-radius: 50%;
  background-color: #f4f5f7;
}
.header {
  position: absolute;
  z-index: 1001;
  padding: 8px;
  display: flex;
  gap: 12px;
}
