.table-wrapper {
    border-bottom: 1px solid #EBE9F1;
    height: 492px;
    position: relative;
}

.table-header {
    height: 44px;
    background: #F7F7F9;
    text-align: center;
    border-bottom: 0px;
}

.table-heading {
    color: var(--Dark-grey, #70757A);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    border-bottom: 1px solid #EBE9F1;
    border-top: 1px solid #EBE9F1;
    vertical-align: middle;
    padding-left: 22px;
}

.table-heading-text{
    padding: 4px 8px;
    display: inline;
    cursor: pointer;
    position: relative;
}

.table-heading-text:hover {
    background: rgba(112, 117, 122, 0.2);
    border-radius: 4px;
}

.table-cell {
    height: 58px;
    border-bottom: 1px solid #EBE9F1;
    padding: 12px 32px;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
    margin-left: 8px;
    text-align: left;
    vertical-align: middle;
}

.sort-container {
    position: absolute;
    top: 100%;
    width: 163px;
    height: 81px;
    background: #FFFFFF;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 15px;
}

.sort-hover {
    padding: 4px;
    cursor: pointer;
}

.sort-hover:hover {
    background: rgba(112, 117, 122, 0.2);
    border-radius: 4px;
}

.sort-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #0A0A0A;
    margin: 0px;
}

.open-in-drive {
    width: 92px;
    height: 16px;
    left: 0px;
    top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #3692EF;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.floating-container {
    box-sizing: border-box;
    position: absolute;
    width: 522px;
    height: 76px;
    top: 636px;
    background: #FFFFFF;
    border: 1px solid #6519E1;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    z-index: 1000;
}

.floating-container-text {
    width: 14px;
    height: 36px;
    margin-left: 32px;
    margin-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #8361FE;
    display: inline-block;
}

.floating-container-text2 {
    width: 128px;
    height: 24px;
    left: 58px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
    display: inline-block;
    margin-left: 12px;
}

.floating-container-line {
    width: 46px;
    height: 0px;
    border: 1px solid #EBE9F1;
    transform: rotate(90deg);
    display: inline-block;
    margin-bottom: 12px;
}

.floating-container-icon-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
}